.scene-apt {
  position: absolute;
  top: 0;
  z-index: 11;
  width: 375px;
  height: 100%;
  background-color: #e0e0e0;
}
.info-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4d55b2;
  padding-top: 12px;
}

.header-info {
  position: relative;
  height: 58px;
  padding: 0 21px 0 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.header-info h1 {
  width: 300px;
  margin: 0 auto;
  padding-top: 1px;
  font-size: 24px;
  line-height: 1.3;
  max-height: 42px;
  font-weight: 300;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}
.apartments-name {
  color: #fff;
}
.address-info {
  border-bottom: 1px solid #565eb6;
  text-align: center;
  padding: 0 8px 10px 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.address-info h2 {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
  color: #dedeea;
}
.tiny-scroll {
  overflow: visible;
  user-select: none;
  height: auto;
}
.result {
  margin-top: 126px;
  overflow: hidden scroll;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #eaebed;
}
.card {
  border-top: 0;
  border-bottom: 4px solid #eaebed;
  background-color: #fff;
}

.css-oiiy04 {
  position: relative;
  background-color: rgb(255, 255, 255);
  font-family: SpoqaHanSans, SpoqaHanSansWeb;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
}

.css-1nak9uh {
  padding: 23px 20px 10px;
  box-sizing: border-box;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  place-content: stretch space-between;
  -webkit-box-align: stretch;
  align-items: stretch;
  color: rgb(72, 72, 72);
  font-size: 13px;
}

.css-149atbn {
  flex: 0 0 50%;
  width: 50%;
  white-space: nowrap;
  padding-bottom: 3px;
  box-sizing: border-box;
  text-align: left;
}

.css-70gr6e {
  position: absolute;
  top: 13px;
  right: 20px;
  height: 35px;
  line-height: 31px;
  padding: 0px 8px;
  color: rgb(72, 72, 72);
  font-size: 14px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
}
.realPrice {
  position: relative;
  color: #4337de;
  background-color: #fff;
}
.price-group {
  position: relative;
  height: 50px;
  padding: 15px 20px 0;
}
.title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}
.price {
  display: inline-block;
  margin-top: 8px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
}

.btn-close {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 1px;
  padding-right: 20px;
  padding-top: 21px;
}

.btn-close span {
  display: inline-block;
  overflow: hidden;
  width: 14px;
  height: 14px;
  background-image: url(../../images/sp_pc.e76dd6e1fb046cb8a71ec352aca15fdd.png);
  background-position: -170px -275px;
  line-height: 999em;
  vertical-align: top;
}

/* 주변상권 */
.business {
  position: relative;
  padding: 20px 0px 5px;
}
.business-info {
  font-weight: 400;
  font-size: 20px;
  padding: 0px 20px;
}
.business-table {
  position: relative;
  margin-top: 20px;
  padding: 0px 20px;
}
.business-item {
  display: inline-block;
  margin: 0px 15px 15px 0px;
  color: #333;
}
.business-item-name {
  font-size: 18px;
  font-weight: normal;
  color: rgb(72, 72, 72);
  margin: 0;
  padding: 0;
  border: 0;
}
.business-distance {
  font-size: 16px;
  color: rgb(127, 126, 146);
}
